@import '../node_modules/prismjs/themes/prism-tomorrow';
@import '../node_modules/normalize.css/normalize.css';
@import '../../src/weasl.scss';

$color-primary: #3c9adc;
$color-dark: #1c1c1c;

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $color-dark;
  background: #ececec;
  padding: 30px;
}
h1, h2, h3, h4, h5, h6 {
  color: $color-primary;
}
hr {
  margin: 48px 0;
  border: none;
  height: 1px;
  background-color: rgba($color-dark,.25); 
}
pre {
  display: block;
  padding: 20px;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

.btn {
  background: $color-primary;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  padding: .5rem 1rem;
  border: 0;
  color: white;
  transition: .3s;
  &:hover {
    background: darken($color-primary,5%);
  }
}
